FROM debian:%CODENAME%

RUN groupadd -g 1000 build && \
    useradd -u 1000 -g 1000 -s /bin/bash -d /build -m build

RUN apt-get update && apt-get install -y \
  build-essential \
  debhelper \
  devscripts \
  dh-python \
  less \
  python \
  python-all-dev \
  python-docutils \
  unzip \
  zip
